alabaster==1.0.0
argcomplete==3.6.3
asttokens==3.0.1
attrs==26.1.0
autocommand==2.2.2
babel==2.17.0
blinker==1.9.0
Brlapi==0.8.8
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.2
contourpy==1.3.3
cryptography==46.0.5
cycler==0.12.1
dasbus==1.7
dbus-python==1.4.0
decorator==5.2.1
defusedxml==0.7.1
docutils==0.22.4
executing==2.2.1
fastjsonschema==2.21.2
filelock==3.25.2
Flask==3.1.3
Flask-SQLAlchemy==3.1.1
fonttools==4.62.1
greenlet==3.3.2
idna==3.11
imagesize==1.4.1
ipython==9.11.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.4.9
lensfun==0.3.4
libfdt==1.7.2
lit==22.1.1.dev0
louis==3.37.0
lxml==6.0.2
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
meson==1.10.2
more-itertools==10.8.0
netsnmp-python==1.0a1
networkx==3.6.1
nftables==0.1
numpy==2.4.3
ordered-set==4.1.0
packaging==26.0
pandas==2.3.3
parso==0.8.6
pexpect==4.9.0
pillow==12.1.1
pkg_resources==81.0.0
platformdirs==4.9.4
pooch==1.9.0
prompt_toolkit==3.0.52
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pwquality==1.4.5
pycairo==1.29.0
pycparser==3.0
Pygments==2.19.2
PyGObject==3.54.5
pyparsing==3.3.2
python-dateutil==2.9.0
pytz==2026.1
pyxdg==0.28
requests==2.32.5
roman-numerals-py==3.1.0
scikit-learn==1.8.0
scipy==1.17.1
setproctitle==1.3.7
setuptools==82.0.1
six==1.17.0
snowballstemmer==3.0.0.1
Sphinx==9.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.48
stack_data==0.6.4.dev0+g53501eb8b.d20251216
systemd-python==235
threadpoolctl==3.5.0
tomli==2.4.0
tqdm==4.67.3
traitlets==5.14.3
trove-classifiers==2026.1.14.14
typing_extensions==4.15.0
uc-micro-py==2.0.0
urllib3==2.6.3
validate-pyproject==0.25
wcwidth==0.6.0
Werkzeug==3.1.4
wheel==0.46.3
