<h1>Créer un bien</h1>

<form method="POST" action="/biens">
    <input type="text" name="nom" placeholder="Nom"><br>
    <input type="text" name="description" placeholder="Description"><br>
    <input type="text" name="type_bien" placeholder="Type"><br>
    <input type="text" name="ville" placeholder="Ville"><br>
    <select name="id_proprietaire">
        {% for user in utilisateurs %}
        <option value="{{ user.id }}">
            {{ user.prenom }} {{ user.nom }}
        </option>
        {% endfor %}
    </select><br>
    <br>
    <button type="submit">Créer</button>
</form><br>

<a href="/">Retour à l'acceuil</a><br>