<h1>Modifier le bien</h1>

<form method="POST" action="/biens/{{ bien.id }}/edit">
    <input type="text" name="nom" value="{{ bien.nom }}"><br>
    <input type="text" name="description" value="{{ bien.description }}"><br>
    <input type="text" name="type_bien" value="{{ bien.type_bien }}"><br>
    <input type="text" name="ville" value="{{ bien.ville }}"><br>

    <button type="submit">Modifier</button>
</form>

<h2> Supprimer une pièce </h2>
<ul>
    {% for piece in bien.pieces %}
    <li>
        {{ piece.nom }} ({{ piece.surface }} m²)

        <form method="POST" action="/pieces/{{ piece.id }}/delete" style="display:inline;">
            <button type="submit">Supprimer</button>
        </form>
    </li>
    {% endfor %}
</ul>

<h3>Ajouter une pièce</h3>

<form method="POST" action="/biens/{{ bien.id }}/pieces">
    <input type="text" name="nom" placeholder="Nom de la pièce"><br>
    <input type="number" name="surface" placeholder="Taille en m²"><br>
    <button type="submit">Ajouter</button>
</form>

<form method="POST" action="/biens/{{ bien.id }}/delete">
    <button type="submit">Supprimer le bien</button>
</form><br>

<a href="/biens/{{ bien.id }}">Ne pas modifier</a><br>
<a href="/">Retour à l'accueil</a><br>